.header{
    height: 1.01rem;
    background: #06c1ae;
    display: -webkit-flex;
}
.header-left{
    width: 1.67rem;
    height: 1.01rem;
    line-height: 1.01rem;
    color: #fff;
    font-size: .32rem;
    padding:0 .15rem;
    box-sizing: border-box;
}
.header-search{
    -webkit-flex: 1;
    background: rgba(0,0,0,.15);
    border-radius: 0.1rem;
    height: 0.64rem;
    margin-top:0.185rem;
}
.header-search input{
    width: 3rem;
    height: 100%;
    border:none;
    outline: none;
    background: transparent;
}
.header-right{
    width: 0.94rem;
    color: #fff;
    text-align: center;
     font-size: .2rem;;
}
.icon-text{
    display: block;
    font-size: .4rem;
    font-weight: 700;
    text-align: center;
    margin-top:0.05rem;
}
ul{
    /*font-size: 0;*/
    /*word-spacing: -0.5em;*/
}
li{

    width: 20%;
    /*font-size: 20px;*/
    display: inline-block;
    height: 100px;
    background: #ff0000;
    box-sizing: border-box;
    /*vertical-align: top;*/
}