<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .dialog{
            width: 400px;
            height: 400px;
            background: #cccccc;
            border:1px solid #000;
        }
        .title{
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid #000;
        }
        .close{
            float:right;
        }

    </style>
</head>
<body>
    <div id="app">
        {{msg}}
        <button @click="showRegister = true;showLogin = false;">注册</button>
        <button @click="showLogin = true; showRegister = false;">登录</button>
        <!-- 登录 -->
        <my-dialog title="登录" v-if="showLogin" @close="fn">
            用户名：<input type="text"></br>
            密码：<input type="text"> </br>
            <button>登录</button>
        </my-dialog>  
        <!-- 注册 -->
        <my-dialog title="注册"  v-if="showRegister">
            用户名：<input type="text"></br>
            密码：<input type="text"> </br>
            确认密码：<input type="text"> </br>
            <button>注册</button>
        </my-dialog>
    </div>
    <script src="vue.js"></script>
    <script type="text/x-template" id="temp">
        <div class="dialog">
            <div class="title">
                <span>{{title}}</span>
                <span class="close" @click="$emit('close','aaaa')">X</span>
            </div>
            <div class="content">
                <slot></slot>
            </div>
        </div>
    </script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                showLogin:false,
                showRegister:false,
                msg:''
            },
            methods: {
                fn(val){ //val子组件传过来的参数
                    console.log(val);
                    this.msg = val;
                }
            },
            components: {
                myDialog:{
                    template:"#temp",
                    props: ['title']
                }
            }
        });
    
    </script>





    
</body>
</html>