<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
      <!--   <ul>
            <li v-for="val in arr">  {{val}} </li>
        </ul>
        <h2 v-for="(val,key) in obj">{{key}} : {{val}}</h2>

        <div v-text="msg"></div>
        <div v-html="msg"></div> -->
        <button @click = "show(2,$event)">click</button>
        <div>{{num}}</div>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                arr:[1,2,3,4,5],
                obj:{
                    name:'zs',
                    age:20,
                    school:'weichuang'
                },
                msg:'aaa',
                num:0
            },
            methods:{
                show(x,e){
                    console.log(e);
                    // event
                    this.num += x;
                }
            }
        });
        
    
    
    
    </script>
    
</body>
</html>